:root {
    /* pallete 1
    --main-color: #7B9B81;
    --main-secondary: rgb(179, 81, 52);
    --main-pink: #ECA18B;
    --main-yellow: #EBC18D;
    --dark-green: #7C9B81;
    --main-white: white;
    --main-black: #242424;
    --main-gray: #DCD9D5; */

    /* pallete 2 */
    --main-color: #607867;
    --main-secondary: rgb(156, 109, 93);
    --main-pink: rgb(156, 109, 93);
    --main-yellow: #EBC18D;
    --dark-green: #C3946A;
    --main-white: white;
    --main-black: #2f3130;
    --main-gray: #AE9F87;

    --main-padding: 20px;
    --header-font: 'Lato', sans-serif;
    --body-font: 'Lato', sans-serif;
}