/* nav menu */
#navBar {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #604559;   
}
#homeLink {
    color: #604559; 
    padding: 16px;
    text-decoration: none;
    display: block;
    justify-self: center;
    align-self: center;
}
#homeLink:hover {
    text-decoration: underline;
}

/* drop down button */
.dropButton {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    color: #604559;
    justify-self: center;
    align-self: center;
}
.dropButton:hover, .dropButton:focus {
    text-decoration: underline;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    color: #604559;
}
.dropdown-content a:hover {
    text-decoration: underline;
}
.show {display:block;}