@media only screen and (min-width: 60em) {
:root {
    --main-mr: 80%;
    --main-ml: 20%;
    --main-padding: 20px;
    --title-size: 36px;
    --title-size: 52px;
}

body {
    font-size: 16px;
    background-color: var(--main-color);
    margin: 0px;
    max-width: 2000px;
}

/* title */
#titleDiv {
    font-size: var(--title-size);
    display: grid;
    grid-template-columns: var(--main-ml) auto auto;
    background-color: var(--main-white);
}
#titleColorSide {
    font-size: var(--title-size);
    color: var(--main-white);
    grid-column: 1/2;
    background-color: var(--main-color);
    padding: 40px;
    
}
#titleWhiteSide {
    font-size: var(--title-size);
    grid-column: 2/3;
    color: var(--main-color);
    padding: 40px;
    padding-left: 20px;
}
h2 {
    font-size: 18px;
    color: var(--main-white);
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 20px;
}

/* main */
main {
    /* padding-left: 20px;
    margin-top: 10px;
    margin: auto;
    max-width: 1000px; */
}
#content {
    background-color: var(--main-white);
    padding: 20px;
    padding-bottom: 40px;
    margin-left: var(--main-ml);
}

h3 {
    font-size: 24px;
    padding-top: 40px;
    font-family: var(--header-font);
}

.firsth3 {
    padding-top: 0px;
    margin-top: 0px;
}

h4 {
    padding-top: 20px;
}

.firsth4 {
    padding-top: 0px;
}

p {
    padding-left: 20px;
}
.example {
    font-size: 24px;
}

.exampleText {
    padding-left: 40px;
    font-weight: 700;
}

.example2 {
    padding-left: 60px;
}

.jsNotes {
    width: 900px;
}

#chapter7Notes {
    width: 680px;
}

footer {
    background-color: var(--main-white);
    padding: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

/* #list {
    line-height: 1.5;
}
#mobilethumb {
    height: 350px;
    float: right;
    padding: 20px;
}

.ollistitem {
    padding-top: 20px;
}

#firstlistitem {
    padding-top: 0px;
}

ol, ul {
    line-height: 1.5rem;
} */
}