@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: var(--body-font);
    font-size: 14px;
    margin: auto;
    max-width: 320px;
    color: var(--main-black);
}

img {
    width: 300px;
}

/* main */
main {
    background-color: var(--main-white);
    padding-top: 20px;
    padding-bottom: 40px;
}

h2 {
    font-size: 18px;
    color: var(--main-color);
}

h3 {
    font-size: 16px;
    padding-top: 20px;
    font-family: var(--header-font);
    color: var(--main-secondary);
}

.firsth3 {
    padding-top: 0px;
    margin-top: 0px;
}

h4 {
    padding-top: 10px;
}

.firsth4 {
    padding-top: 0px;
}

p {
    padding-left: 20px;
}
.example {
    font-size: 24px;
}

.exampleText {
    padding-left: 40px;
    font-weight: 700;
}

.example2 {
    padding-left: 60px;
}

/* next button */ 
.nextButton {
    margin-top: 40px;
    padding: 10px;
    color: var(--main-white);
    background-color: var(--main-color);
    border: solid var(--main-color) 1px;
    border-radius: 5px;
}
.nextButton:link, .nextButton:visited {
    color: var(--main-white);
    text-decoration: none;
}


footer {
    color: var(--main-color);
    background-color: var(--main-white);
    padding: 20px;
    font-size: 12px;
    text-align: center;
}