:root {
    --black: #131412;
    --yellow: #F8BF17;
    --ls-green: #6FBF44;
    --ls-blue: #4290CD;
    --ls-yellow: #D5C440;
    --ls-purple: #AD4C9E; 
    --ls-red: #D7322D;
    --ls-teal: #66C8C1;
    --ls-white: #F8F9F9;
    --ls-orange: #F49D3F; 
}