@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --black: #131412;
    --yellow: #F8BF17;
    --drk-gray: #221a27; 
    --gray: lightgray;
    --ls-green: #6FBF44;
    --ls-blue: #4290CD;
    --ls-yellow: #D5C440;
    --ls-purple: #AD4C9E; 
    --ls-red: #D7322D;
    --ls-teal: #66C8C1;
    --ls-white: #F8F9F9;
    --ls-orange: #F49D3F; 
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: var(--ls-white);
    margin: auto;
    min-width: 300px;
    max-width: 800px;
}

header {
    text-align: center;
    color: var(--yellow);
    margin: 20px;
}

#container {
    background-color: var(--black);
    padding: 20px;
    border: 5px solid var(--yellow);
    border-radius: 5px;
    margin: 20px;
}

h4 {
    display: block;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: var(--ls-green);
}

#firstQuestionh4 {
    margin-top: 0px;
}

label {
    display: block;
    line-height: 1.5rem;
}

#submit {
    margin: 20px 20px 20px 0px;
    padding: 5px;
    border-radius: 15px;
    border: 3px solid var(--ls-purple);
    color: var(--ls-purple);
    background-color: var(--drk-gray);
}
#submit:hover {
    border: 3px solid var(--ls-purple);
    color: var(--drk-gray);
    background-color: var(--ls-purple);
}