:root {
    --main-padding: 20px;
    --main-color: #7B9B81;
    --main-secondary: rgb(179, 81, 52);
    --main-pink: #ECA18B;
    --main-yellow: #EBC18D;
    --dark-green: #7C9B81;
    --main-white: white;
    --main-black: #242424;
    --main-gray: #DCD9D5;
    --header-font: 'Lato', sans-serif;
    /* --header-font: 'Tinos', serif; */
    --body-font: 'Lato', sans-serif;
}