#dice {
    font-size: 24px;
    border: solid black 3px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

#roll {
    display: block;
    margin-top: 10px;
    background-color: rgb(255, 134, 154);
    border: solid rgb(255, 134, 154) 4px;
    border-radius: 4px;
}