#dice {
    font-size: 24px;
    border: solid black 3px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

#roll {
    display: block;
    margin-top: 10px;
    background-color: var(--main-secondary);
    border: solid var(--main-secondary);
    border-radius: 4px;
}