@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif; 
    font-size: 16px;
    /* background-color: #AAC9BC;  */
    background-color: var(--main-color);
    margin: 0px;
    color: var(--main-black);
}

/* header */ 
header {
    background-color: var(--main-white);
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

/* h1 {
    font-size: 20px;
    padding-left: 20px;
    color: var(--main-color);
} */

h2 {
    font-size: 48px;
    text-align: center;
    padding: 40px;
    color: var(--main-white);
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    padding: 20px;
}

#title {
    color: white;
    font-size: 36px;
}

/* add new task input */
form {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
}

input[type="text"] {
    height: 30px;
    outline: 0px;
    border: none;
    font-size: 16px;
    color: #7B9B81;
    flex-grow: 1;
}
/* button */
button {
    font-size: 1.5rem;
    background-color: white;
    outline: 0px;
    border: none;
    color: #7B9B81;
}

button:hover {
    color: #ECA18B;
}

/* todo list */
#todoList {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 25px;
    height: 100%;
}

ul {
    padding-left: 0px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    color: gray;
}

.todo-item {
    flex-grow: 1; 
    margin-top: 20px;
    margin-bottom: 10px;   
}

.clearAll {
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 14px;
}

.clearAll:hover {
    color: rgb(179, 81, 52);
}



/* footer */
footer {
    color: var(--main-color);
    background-color: var(--main-white);
    padding: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}