:root {
    --padding: 50px;
    --wideth: 100px;
    --height: 100px;
}

* {
    box-sizing: border-box;
  }

.content {
    width: 80%;
    height: 500px;
    border: 1px solid;
}
.pinksq {
    width: var(--wideth);
    height: var(--height);
    background-color: pink;
}
.pinksq:hover {
    transform: translatex(400px);
    opacity: 0.5;
    transition-timing-function: ease-in-out;
  }
.yellowsq {
    width: var(--wideth);
    height: var(--height);
    background-color: yellow;
}
.yellowsq:hover {
    transform: translatex(400px);
    opacity: 0.5;
  }
.greensq {
    width: var(--wideth);
    height: var(--height);
    background-color: green;
}
.greensq:hover {
    transform: translatex(400px);
    opacity: 0.5;
  }
.bluesq {
    width: var(--wideth);
    height: var(--height);
    background-color: blue;
}
.bluesq:hover {
    transform: translatex(400px);
    opacity: 0.5;
  }
.purplesq {
    width: var(--wideth);
    height: var(--height);
    background-color: purple;
}
.purplesq:hover {
    transform: translatex(400px);
    opacity: 0.5;
  }